[2017-04-23 21:30] overshard opened #1 "Improve riotjs tags to be more modular"
Just have one giant tag per page that could be much more modular since many of them share components

[2017-04-23 21:32] overshard opened #2 "Improve design of Timesheet/Entries page"
Maybe include timesheet stats and remove table layout

[2017-04-23 21:33] overshard opened #3 "No way to see total time if pagination is invoked"
For very long entry lists we resort to pagination and total time just adds entries currently on the page

[2017-04-23 21:34] overshard opened #4 "Ability to edit timesheets, tasks, and entries without admin interface"
Only way to edit these items is via the admin interface right now

[2017-04-23 21:36] overshard opened #5 "Write documentation on philosophy behind timesheets > tasks > entries"
Timesheets cover an entire project, tasks define parts of a project, entries are actual time with notes.

Example:

- Timesheet: Timestrap
- Task: Front-End Development
- Task: Back-End Development
- Task: Refactoring
- Task: Research
- Task: Documentation/Communication

[2017-04-23 21:37] overshard opened #6 "Write documentation on customizing django localization"
To improve time and date entry

[2017-04-23 21:58] overshard opened #7 "Build invoicing system"
Support for email invoices and payment via Stripe, easily changed to Braintree or Paypal or anything else via plugin.

Have a long way to go before we start on this issue

[2017-04-23 21:59] overshard opened #8 "Export supports multiple formats"
django-import-export supports multiple formats already, we just need to configure a selection option during entry export.

[2017-04-24 00:01] overshard opened #9 "Fix CSV export not requiring login"

[2017-04-24 00:32] overshard opened #10 "Review Show HN and create Issues based on comments"
Going to review all HN comments and see how people suggest we improve our current direction: https://news.ycombinator.com/item?id=14180673

[2017-04-24 00:46] mikedilger opened #11 "Home and Timesheets pages taking 20 seconds, no data yet"
I installed locally.  Proxying behind nginx.  Page access line is printed near-enough to immediately.  Most links are fast but Home and Timesheets are dreadfully slow.  I think something is timing out?

[2017-04-24 00:48] mikedilger commented on #11
Nevermind.  Seems it "got over it"... after multiple (more than 2) loads of the page.

[2017-04-24 00:48] #11 closed

[2017-04-24 01:53] mikedilger opened #12 "User permissions supporting a read-only user"
I created a 2nd user with 'staff' status so they could login.  Without any grants it seems they can do most everything (except the admin panel, but all entries are outside the admin panel).

Just registering my interest in the ability to have a read-only user.

[2017-04-24 02:41] mikedilger opened #13 "Timesheet and Task Completion"
Once a task is complete, it would be nice to check it off.  Else the list of tasks in the dropdown would grow without end.

[2017-04-24 03:06] overshard commented on #13
Should be able to mark timesheets as completed too. Completely agree, this is also part of the step for Invoicing as we need to mark what to invoice.

[2017-04-24 03:08] overshard commented on #12
I think this would be useful for invoicing too if we want to show clients timesheets, they can have their own user with specific timesheet access.

[2017-04-24 04:46] nodesocket opened #14 "Error: pg_config executable not found."
I am assuming I need PostgreSQL? What version? Might want to update the `README.md` with this info. I'm going to attempt using Google Cloud SQL _(PostgreSQL)_.

[code]

[2017-04-24 04:50] overshard commented on #14
If you want to remove psycopg2 from requirements.txt before installing that will fix this. psycopg2 is only really required if you are wanting to use postgresql and the default development environment uses sqlite3. I should split up the requirements files for development and production so I'm leaving this open to fix.

[2017-04-24 04:52] nodesocket commented on #14
Cool so PostgreSQL is not needed. I was hoping you used sqlite.

[2017-04-24 04:57] nodesocket opened #15 "Install: rjsmin.c fatal error: Python.h: No such file or directory"
[code]

[2017-04-24 05:01] overshard commented on #15
I'm going to clarify this all in the README here soon but since you are using Ubuntu you need to install build-essential:

    sudo apt-get --yes install build-essential

[2017-04-24 05:03] nodesocket commented on #15
Curious, what package(s) specifically are required out of build-essentials? I have gcc.

[2017-04-24 05:05] overshard commented on #15
We are using `django-compressor` which installs `rjsmin` and `rcssmin` which build native plugins to speed up the process of minifying static files. Maybe it's that you don't have Python headers? I've always just installed `build-essential` on Ubuntu and that's worked for me. Let me know if that doesn't work though and I'll take a closer look.

[2017-04-24 05:08] overshard commented on #15
@nodesocket `sudo apt-get install python-dev` is also required for you as I suspected. I'm curious why that isn't installed by default for you on Ubuntu.

[2017-04-24 05:09] nodesocket commented on #15
This is Ubuntu 16.04. Installing `python-dev` fixed it. Don't think `build-essential` is required.

[2017-04-24 05:10] overshard commented on #15
Cool! I've made a note of that in the README and I'll make sure the documentation covers it better. Leaving this open till we write the documentation.

[2017-04-24 05:14] overshard opened #16 "Create reporting system"
Should be able to compile reports from a variety of filters, all filters have been implemented in the API and just need to build the interface.

[2017-04-24 05:29] nodesocket opened #17 "Binding on localhost:8000 only. How do I specify 0.0.0.0:8000"
Seems to bind on localhost by default. What is needed to be changed to bind on `0.0.0.0` _(all interfaces)_?

[2017-04-24 05:37] overshard commented on #17
https://docs.djangoproject.com/en/1.11/ref/django-admin/#runserver

You can just run:

    python manage.py runserver 0.0.0.0:8000 (or any port)

[2017-04-24 05:41] #17 closed

[2017-04-24 05:43] nodesocket opened #18 "Reset password broken"
I am assuming there needs to be SMTP configuration set to use a 3rd party like Mailgun.

[code]

[2017-04-24 05:46] overshard commented on #18
I have not tested the password reset system at all to be honest! For Heroku this can be done by enabling sendgrid or mailgun and adding a few lines to settings. We do link to the reset password page already though so this should work or be documented. Definitely needs improvement.

[2017-04-24 05:49] nodesocket commented on #18
Right. If I forgot the password I set running `createsuperuser` can I just run it again to override?

[2017-04-24 05:51] overshard commented on #18
You can create another superuser to then go in and edit your old super user for now yes.

[2017-04-24 06:08] ati opened #20 "Can't create tasks or entries if timesheet has name with unicode characters"
E.g. "Юникод", russian for "Unicode" timesheet gives "Server Error (500)" page when I try to create a task.

[2017-04-24 07:38] #9 closed

[2017-04-24 07:41] overshard commented on #20
Thank you for testing this. With Python 2 unicode is always a pain, I suspect when I have full support for Python 3 then it won't have an issue. I'll look into including tests and making sure I support Python 2 unicode though as I do want to support a variety of languages.

[2017-04-24 07:48] mikedilger commented on #20
I installed it initially in a virtualenv with python2.  Then I did it again with python3.  It seemed to work either way.

[2017-04-24 16:48] esikachev opened #21 "Add Pipenv to project, make sure to include Heroku pre-compile hook"
You can add tox.ini file for more convenient working with virtual environments.

Source: https://tox.readthedocs.io/en/latest/

If you wish, I can work on it

[2017-04-24 17:02] overshard commented on #21
We do need something like this to handle different requirements for different environments. I'm honestly not sure what the best choice is. I'll play with tox a bit and get back with you.

[2017-04-24 17:04] overshard opened #22 "Handling form insertion for editing"
Right now I'm inserting a form via jQuery and it seems very inelegant to me. I can't seem to find the official riot.js way of handling this. If someone has any information on how to better handle inserting edit forms into the rows I'm all ears.

https://github.com/overshard/timestrap/blob/master/core/static/core/tags/timesheets.tag#L98

[2017-04-24 17:05] aniljava commented on #11
Reopening this one.

So far was able to get this. But if there are other debug flags to turn on, please guide.
![1493053425](https://cloud.githubusercontent.com/assets/412569/25349109/d75aee72-28dd-11e7-965e-32350acfa830.jpg)

[2017-04-24 17:08] aniljava opened #23 "Taking forever to connect"
Page load gets hangs at the middle of loading, some part gets downloaded while other gets stalled for very long time. Same problem with Chrome and Firefox.

![1493053425](https://cloud.githubusercontent.com/assets/412569/25349188/26339756-28de-11e7-86ae-5f5789c409b3.jpg)

htop does not show any unusual usage.

[2017-04-24 17:09] aniljava opened #24 "Disable use of third party networks"
Is it possible to turn off use of cloudfare and unpkg.com.

[2017-04-24 17:10] overshard commented on #23
These are just static files which don't actually touch the backend so I'm curious why they are hanging. What environment do you have this setup on? Ubuntu, Mac OS, Windows? Are you going through a reverse proxy?

[2017-04-24 17:11] overshard commented on #23
Also have you set Debug = False? If you've set Debug to False and have not setup a system to serve static files that could also be the cause. If you wish to serve static files through Django itself look at our heroku config.

[2017-04-24 17:12] overshard commented on #24
It's planned for the future, right now I'm adding and removing so many libraries that including them all in the repo would be a wasted effort. I'll leave this open as a reminder for the 1.0 release to make sure we don't use third parties though.

[2017-04-24 17:14] aniljava commented on #23
Ubuntu. Accessing as http://127.0.0.1:8000/
My first thought was if the number of threads/connection is limited. No experience with django to go further.

Followed README.md for installation, no change on settings.

[2017-04-24 17:15] overshard commented on #23
Someone else had this same problem and they stopped the process, started it again and reconnected and it worked then. I think this may all be caused by django-compressor so I'll have a look at it.

[2017-04-24 22:03] Leahelisabeth opened #25 "UX: display error that task cannot be added without timesheet"
I think giving the user a warning rather than nothing happening/no response.
 it is a nice feature that they have on toggl to allow a user to add a task without a timesheet/assigned project then give the option to assign one later, however i just got a failed post in my network tab/console

[2017-04-24 22:23] Leahelisabeth commented on #22
@overshard i noticed that when i tried to edit on multiple timesheet items at once, that when i clicked 'save' on when it exited out of both editing forms but did save changes on the one on which i clicked 'save' is this what you are talking about or are you more generally referring o the UI?

[2017-04-24 22:53] overshard commented on #22
That is because I'm calling tag.getTimesheets(); and just resetting the whole thing. That's also a problem but that part is easily fixable, we should just update the one element. The problem is just inserting a form here using jQuery. I'm wondering if there is a better way to insert a form, like create a new tag in riot.js and mount it in place of the current element, instead of using jQuery to me

[2017-04-24 22:54] overshard commented on #25
You're absolutely correct, we should definitely have warnings here if an error occurs. (There should be a warning everywhere when errors occur with the API.) This just hasn't been coded yet as I'm trying to get basic functionality up. Leaving this to-do open though because it 100% needs to happen.

[2017-04-24 22:58] Leahelisabeth commented on #22
@overshard i think this is a great app you all have here and I would be happy to be a regular contributor if you would have me, do you guys have a slack channel going and/or git project cards for listing bug assigns?

[2017-04-24 23:03] overshard commented on #22
@Leahelisabeth Don't have anything, I started this by myself on Friday and here I am! If you'd like to contribute you can fork the repo, code something and then do a pull request. If you'd like to contact me to discuss what needs done so we don't step on each other's toes, my email is on my GitHub profile and maybe we can setup something more real time.

[2017-04-24 23:53] overshard opened #26 "Setup travis-ci to support python 2.7 through the latest 3.x version"

[2017-04-24 23:54] overshard opened #27 "Setup documentation through Read The Docs"
A readme isn't going to cut it forever

[2017-04-24 23:57] overshard commented on #24
We should probably check into setting up a basic bower file for this? Is there a better alternative that does not require nodejs dependency? (Something more Python...)

[2017-04-24 23:58] overshard commented on #27
Document how to fix issues in: #15 #18 #17 & #9

[2017-04-25 00:03] overshard opened #28 "Automate Heroku test server updates"
If a Travis build is successful Heroku should automatically be updated

[2017-04-25 04:48] mcat-ee commented on #28
Also; although your README.md says the Heroku instance will reset... it definitely doesn't; it appears to have clocked up about 200 entries over the past 5 days.

[2017-04-25 04:50] overshard commented on #28
@mcat-ee It's auto generated, every 10 minutes it deletes the entire database and generates random data so people can see an example of what it looks like in use.

[2017-04-25 05:23] overshard commented on #28
This should be setup now.

[2017-04-25 05:23] #28 closed

[2017-04-25 17:55] overshard commented on #22
I've got this mostly figured out now after discussing with a few people I, or someone else, will have a patch to clean it up shortly!

[2017-04-25 19:20] whitebook commented on #22
@Leahelisabeth  Im not a riot.js expert, but you might want to look into the Riot.js docs.

I dont think this is right. (using jquery)
(looking at static/core/tags/tasks.tag)

        editTask(e) {
            let task = e.item;
            let tr = e.target.parentElement.parentElement;
            let td = $(tr).find('td');

            if ($(tr).hasClass('editing')) {
                task.name =

[2017-04-25 19:27] overshard commented on #22
Thank you for the additional information @whitebook, this is what I'm trying to work towards! This is kind of what I worked out so far, I've broke the individual row of timesheets out on it's own:

    <timesheet>
        <tr if={ !edit }>
            <td>{ name }</td>
            <td class="text-right">
                <a class="btn btn-warning btn-sm" onclick={ editTimesheet }>Edit</a>

[2017-04-25 21:36] overshard opened #30 "Create custom API field serializer for DurationField or update EntrySerializer"
I've made a `parse_duration` function in `core/models.py` that would greatly improve time input. We don't need the seconds field to be visible for the most part (or update parser to have optional seconds) and people will be entering in HH:MM or HH.MM or just HH. Right now we are forcing a DurationField entry of HH:MM:SS which isn't very friendly for quick entry.

We want the API to return HH.MM an

[2017-04-25 21:37] overshard commented on #30
Also note, handling this on the Serializer may not be the best choice, I'm open to suggestions. We could also subclass the DurationField and change that entirely.

[2017-04-25 21:41] overshard opened #31 "Front-End Testing"
While we are testing everything on Django and the API we aren't doing anything with the Front-End and I'm not sure the best route to go here that would be user-friendly. As with everything I rather not install any heavy frameworks or huge third party libraries that are not Python specific.

[2017-04-25 21:43] overshard commented on #20
Thanks for checking that out @mikedilger , I've went ahead and setup Travis-CI to test with the most recent 3 major releases of python 3.x along with python 2.7 and it seems to be working great! Still need to fix unicode in Python 2.7 though.

[2017-04-25 21:53] overshard commented on #20
I've tested this and everything seems to be working now. Not sure what change fixed this but I've added some starting tests for unicode and we don't get errors anymore! Marking this part as done but going to open a new issue about supporting translations to languages like Russian.

[2017-04-25 21:57] overshard opened #32 "Multilingual support"
I'd like to support as many languages as possible and since there won't be much of an interface I feel like translations won't be hard to acquire. We need to make sure we use the https://docs.djangoproject.com/en/1.11/topics/i18n/translation/#lazy-translation and get this running once we are near 1.0 release. I feel like implementing this early might cause too much overhead but if anyone wants to

[2017-04-25 22:47] overshard commented on #20
Reopening this, I noticed that the django-rest-framework browser bugs out with unicode, our interface works fine. I looked into it some but have not found a solution for the django-rest-framework browser.

[2017-04-25 23:25] overshard commented on #16
The start of this was pushed with 60d9a7dd5a68b71502be0802ba9fe83067a92730

[2017-04-26 03:57] #14 closed

[2017-04-26 03:58] overshard commented on #26
Complete as of c46c9334a1c0652cd3c4cb7ef855ca70a3781ae9

[2017-04-26 03:58] #26 closed

[2017-04-26 04:00] overshard commented on #15
Explained in the README update of 127f3f49c07dad18212f1da7c3538a46216d8d47

[2017-04-26 04:02] overshard commented on #1
I believe @cdubz wants to handle this, he already made a huge update to timesheets that can be repeated for tasks and entries. We also need to split out pagination since it's the exact same on all our pages.

[2017-04-26 04:14] #18 closed

[2017-04-26 04:40] overshard commented on #21
This isn't exactly what I expected honestly, tox is great for testing in multiple virtualenv but that's not what I'm looking for since travis-ci does a good job at catching issues with other python versions. I'm more looking for https://github.com/kennethreitz/pipenv

[2017-04-26 04:45] overshard commented on #20
This has been actually fixed now with the latest updates!

[2017-04-26 04:45] #20 closed

[2017-04-26 06:22] poulpreben opened #34 "Export does not honor filters"
When exporting a report, all entries in any timesheet, task or date range are exported.

[2017-04-26 07:02] overshard commented on #34
Known issue right now, I just moved exports to the Reports page and we have someone working on filtering for exports along with export format types. I'll keep this open till it's fixed in the next few days!

[2017-04-26 07:19] overshard commented on #25
Fixed this issue by creating a default General task on every Timesheet creation in 2d5294bd5974c79569c4274accf0309936e67cf6

[2017-04-26 07:19] #25 closed

[2017-04-26 09:08] cdubz commented on #1
Sure thing. I will pick this up tonight/tomorrow.

[2017-04-26 09:11] cdubz commented on #22
Anyone have additional feedback on this approach before I make similar changes to other tags?

[2017-04-26 14:19] marthesselink opened #35 "Heroku Build"
I wanted to try using this app with Heroku. Heroku and Python are new to me so I just started trying things.
I forked timestrap so that Heroku could acces the repo on my account to build it.

When building I get this error:

[code]

I tried a few thing to enable the compression and I guess it had something to do with Django, but I couldn't find a solution to build the project. Is there a guide to

[2017-04-26 19:29] overshard commented on #35
I'm checking this out, my guess is that the post_compile command (https://github.com/overshard/timestrap/blob/master/bin/post_compile) needs to have --force set on compress command we run there or we need to set COMPRESS_ENABLED = True in heroku settings. I'm not sure why it's not defaulting to True though since we it should when DEBUG = False. I need to make sure that it's using the right setting

[2017-04-26 20:11] JHSheridan commented on #2
I think one thing that is confusing currently is the timesheets > tasks > entries hierarchy. As I understand it, a timesheet is a client/customer, a task is something you can perform for a client/customer, and an entry is a time period filed under a task.

I think there is a better way to classify and organize these terms that will make things much more intuitive for the user.

**Clients**: Client

[2017-04-26 20:21] cdubz commented on #2
100% agree with this. I am still a bit confused by the hierarchy, actually and I think your proposed structure would be much more clear.

Also love those wireframes - perhaps an opportunity to use Bootstrap v4 flexbox layout instead of tables, for better mobile support?

[2017-04-26 20:22] overshard commented on #2
I like the idea of the Client > Project > Entries naming instead of Timesheet > Task, I'm definitely going to think about that for a while as that does seem to be closer to what I envisioned. I also like inlining the timer and having the ability to restart a timer for a task. I also love that you split the days up in the listing, that's very clean and something I do is go back and review the curre

[2017-04-26 20:23] overshard commented on #2
@cdubz I think we definitely have to move off of tables, they just destroy mobile support...

[2017-04-26 20:29] JHSheridan commented on #2
@cdubz you are correct about tables for sure. I definitely wouldn't implement these as tables, I was just speaking in a general sense regarding how they are laid out. I should have used less confusing language.

@overshard I'm glad you like the idea. I'm happy to iterate some more over it, and I can definitely help with the front-end implementation of these.

I take your point about keeping things

[2017-04-26 20:31] overshard commented on #2
@JHSheridan I've never reviewed a current week but I review myself daily maybe that would be a better workflow for myself. I won't totally dismiss the idea if that's something many people want and having it in the entries view would make it easier to implement the editing. I see your point. We'll keep that on the table!

[2017-04-26 20:32] overshard commented on #22
In light of what @JHSheridan has posted I think we should hold off on doing this for all the templates and consider heading more towards his design vision for this. It makes everything cleaner and solved a problem I had with Timesheets > Tasks organization.

[2017-04-26 20:35] JHSheridan commented on #2
Sounds like a plan.

For now, I'll focus on refining the daily view since we'll definitely need something like that. I'll probably do another round or two in Figma, then I can help out with actually implementing something like this in the templates.

[2017-04-26 20:39] overshard commented on #2
@JHSheridan I would like to see some design iterations over Project + Client relationships too. I feel like a Project page is not required and we should have a combined Project + Client page that allows you to select a Client and view the projects with the ability to add new clients and projects on one page. I feel like a Project page is just a frustrating intermediary step and how we have it laid

[2017-04-26 20:40] cdubz commented on #22
I think it is still worth splitting tags, in general. Even with a design overhaul and potential move to flex box, the tag hierarchy likely wouldn't change. Just the tag names and HTML structure. But happy to also look at other issues if you want to wait.

[2017-04-26 20:41] JHSheridan commented on #2
That makes sense. Let me see what I can come up with.

[2017-04-26 20:42] overshard commented on #22
We definitely need to split up tags to make them modular still and if you want to look into the pagination split still that would still be useful as pagination isn't going anywhere. Just going through and reworking things like the task page edit functionality would be a waste.

[2017-04-26 20:44] cdubz commented on #22
Sounds good. I'll jump in to pagination this evening.

[2017-04-26 20:46] overshard commented on #2
I'm going to start reworking the models and API to reflect the Client + Project workflow as that makes infinitely more sense the more I contemplate it and we can hold off on major front-end revisions till @JHSheridan sees what he can come up with.

[2017-04-26 21:42] overshard commented on #2
In e107ecd6c5b5513c2322e5d86637524dd5d4b5c5 I've refactored everything to use the Client > Project workflow instead of the confusing Timesheet > Task, have done nothing with the design yet but we've started!

[2017-04-26 22:26] overshard commented on #3
I don't know of a good solution to this one honestly. I don't want to do the total calculation on the front-end and all I can think of is we inject the total time into the serializer. Right now with pagination we have "next", "previous", "count", and "results". The results including all the entires. We could put another element after "count" that is "total_time" for all entries non-paginated and "

[2017-04-26 23:27] overshard commented on #30
This is working great now with the updates in f5b997c

[2017-04-26 23:27] #30 closed

[2017-04-26 23:29] overshard commented on #5
We are swapping to a better method that @JHSheridan came up with in issue #2. Closing this as it no longer applies.

[2017-04-26 23:29] #5 closed

[2017-04-26 23:30] overshard commented on #8
@Leahelisabeth is working on this in her current PR #36 , still needs cleaned up a bit though.

[2017-04-26 23:30] overshard commented on #34
@Leahelisabeth is working on this in her current PR #36 , still needs cleaned up a bit though.

[2017-04-27 00:04] overshard commented on #35
I just tested a few deployments and did not get this error, did you change the DJANGO_SETTINGS_MODULE value at all?

More specifically did you use the Heroku Deploy button or did you fork and git push directly to heroku without specifying the settings module?

[2017-04-27 00:08] #35 closed

[2017-04-27 00:31] overshard commented on #13
I have swapped this over to an "Archive" system with the new Client > Project organization. If something is marked as "Archive" it no longer shows up on the interface, it still shows up on the admin though in case it needs to be re-enabled.

[2017-04-27 00:31] #13 closed

[2017-04-27 00:32] overshard commented on #16
Reporting system is fully functional, other improvements will come as new issues.

[2017-04-27 00:32] #16 closed

[2017-04-27 02:10] overshard commented on #2
I've went ahead and combined the Client and Project pages in f73aad4933c9c19fd9af04f2b8ee350ebffe6574 , I don't like the design on it right now but it's s start.

[2017-04-27 10:46] f31n commented on #10
hi, i just found your post on HN.
as other people mentioned why build something thats already there, maybe you wanna check out https://github.com/InvoicePlane/InvoicePlane its great at invoicing / quotes etc etc and of course self hosted ;)

It would be great to find a way to work together with them (the code is written in php).

One thing i'd really love to see is multi client possibility (you co

[2017-04-27 15:03] overshard commented on #10
@f31n I'd prefer this to be as easy as possible to setup and use and I think integrating with a third party invoicing software goes against that for the default settings especially since the third party software in question uses a completely different tech stack. However, as something in the distant future, I would like to support third party options like InvoicePlane if someone doesn't like how w

[2017-04-27 15:41] overshard commented on #2
I am happy that I have now combined the client and project pages but I am very unhappy with the current design and how it's listed. I think it's very messy and hard to navigation. I'm open for any and all suggested improvements with examples if anyone wishes to provide any.

[2017-04-27 16:20] JHSheridan commented on #2
I put in some more work on the Timesheet page. I moved from the wireframe above to something that is closer to an actual design.

![day-view](https://cloud.githubusercontent.com/assets/725786/25493361/80e72dca-2b3b-11e7-8dbe-7b90dca388ee.jpg)

Thoughts?

[2017-04-27 16:25] JHSheridan commented on #2
I can definitely put some time into the Clients/Projects page as well.

I think it may be useful to create a separate issue for Client/Projects design work. I suppose we will continue to discuss and iterate on the Timesheets page, which should go here, and we'll need a parallel discussion for the Clients/Projects page. Just changing the title makes it a bit confusing.

[2017-04-27 16:34] overshard commented on #2
This is really nice, definitely getting really close to exactly what we want. Only three things:

1. I'm not sure we want to bother with the "Task" element anymore. So it would be Client, Project selectors? Project being a subset of client depending on the client selection. Is the drill down into tasks important for a basic timesheet and invoicing? I want to say yes but I don't want to add additio

[2017-04-27 16:36] overshard opened #39 "Improve Client+Project page design"
See comments near end of issue #2, moving to separate issue due to @JHSheridan bringing up the very good point that these are separate issues and we shouldn't clutter up the other one.

[2017-04-27 16:50] cdubz commented on #2
Some quick thoughts -

1. I agree that Client -> Project should be enough. Entry notes fields could be used to provide "task level" sort of detail, if desired.
1. With the current interface proposal, what about just click/tap (or maybe double-click/tap) to expose edit fields for a record? I *think* this would be intuitive enough and would save UI space.

[2017-04-27 16:54] JHSheridan commented on #2
1. I think whether tasks is necessary is debatable. It's main use in other time tracking and invoicing apps I've used is to assign different billable rates to different types of work. For instance, an agency may charge the same client one rate for project management, another for design, and another for programming. Maybe there's another mechanism other than tasks for that use case?

2. Good idea.

[2017-04-27 16:55] overshard commented on #2
I like the click/tap to edit idea, and I assume just hit enter to save but is there some way we could allude to that for people who are less tech savvy to try?

Also I assume this is for just a personal time sheet, and the report system is used to see all users time? We won't show all users via this view?

[2017-04-27 16:57] overshard commented on #2
Okay, we'll just exclude task for now. I understand tracking different billable rates and such and I would like to incorporate that but lets not add too many features or we'll be working on a 1.0 release for a year. I will add it to a list of feature suggestions for 2.0!

[2017-04-27 17:00] overshard opened #40 "Features to include in 2.0"
These are items we want to include but don't want to code till we have an MVP which is the 1.0 release (1.0 will include invoicing). List 'em here!

[2017-04-27 17:01] overshard commented on #40
Per the discussion in #2 having tasks and being able to assign different billable rates to tasks for invoices.

[2017-04-27 17:08] JHSheridan commented on #2
Yes... We can try to use some sort of visual cue to for the click/tap to edit idea.

Yes... this is intended to just be the timesheet of the user who is logged in. At least for now, I think reports are a good place to look at other people's timesheets.

I agree with you on limiting scope for 1.0. Don't want to get too far ahead of ourselves.

[2017-04-28 00:17] #21 closed

[2017-04-28 00:23] overshard commented on #23
@aniljava I honestly can not recreate an instance where the files do a network timeout and I don't know where to start remote debugging this. Can you try deleting your virtualenv and starting from scratch using the new information in the readme? I hate to force you to try the classic "reboot it" but I don't know what else to attempt since you've already done that apparently but I don't know what e

[2017-04-28 00:25] overshard commented on #40
#32 is going to be set for 2.0

[2017-04-28 00:28] overshard commented on #22
This has been taken care of really well by @cdubz and I'm closing this, we will continue using the implementation he came up with as a basis for future interface updates for now.

[2017-04-28 00:28] #22 closed

[2017-04-28 00:31] overshard opened #41 "Need a better "select" menu for Client/Project relations on Entries page"
I would like the select menu in the new design to give us something a default select probably can't so we need to do some JS magic to override it. The layout should show on click/tap

- Client
- Project
- Project
- Project
- Client
- Project
- Project
- Project

The client row should be disabled and not selectable and will be there for organizational purposes. Right now it's a mess showing a giant

[2017-04-28 00:39] overshard commented on #41
This would also apply to the reports page I guess which we are currently using Chosen for Projects

[2017-04-28 01:18] overshard commented on #41
Or this might be wrong to use a select here and we need a search system here? Start typing and it will give suggestions for a result.

[2017-04-28 01:27] cdubz commented on #3
Hopefully that wouldn't be too messy, we can write a [custom pagination style](http://www.django-rest-framework.org/api-guide/pagination/#custom-pagination-styles) for rest framework and just do a totaling query there, right? I haven't used rest framework before so I'll have to poke around a bit.

[2017-04-28 01:28] overshard commented on #3
Yes, that's my understanding. Just subclass the current pagination and add a couple new items to the response. You have all the data via the data variable.

[2017-04-28 01:39] cdubz commented on #24
Have you looked at [calmjs](https://pypi.python.org/pypi/calmjs)? It still creates a nodejs dependency, but seems a bit more Pythonic. So far I haven't been able to find any non-node alternative, other than directly including libraries.

[2017-04-28 01:48] overshard commented on #24
Yeah I can't find a way around the node dependency, clamjs seems pretty cool. We will probably end up using https://yarnpkg.com/en/ I assume which may not be too bad since there are packages built for most operating systems for yarn.

[2017-04-28 01:52] cdubz commented on #24
Another potentially useful package to consider: [django-pipeline](https://django-pipeline.readthedocs.io/en/latest/index.html). Not exactly what we are looking for here, but maybe worth a look vs. `django_compressor`, `django-libsass`, and `whitenoise`. Not 100% sure about feature parity but it looks interesting.

[2017-04-28 02:33] whitebook commented on #22
I would say we should add some light error handling as well. Entries also has a bug when you add time, the Total does not increase...

[2017-04-28 02:40] overshard commented on #22
@whitebook Error handling is definitely on the way, I'm in the middle of recoding the entire entries display, we're still just trying to nail down the basics. The total problem comes down to #3 , that will definitely update once it's complete.

[2017-04-28 03:28] overshard commented on #2
I've gotten many of the basics from @JHSheridan 's design up in 78eb30d. Need to:

- Add functionality to the restart button
- Add functionality to the menu button so people can select delete, edit and maybe other options?
- Format dates, probably should be handled by the API for localization purposes
- Limit entries to current user only
- Add error handling for when no project is selected
- Add f

[2017-04-28 16:32] overshard commented on #2
Few interesting things to note here after cdubz's update, still much better than what I had, progress was made!

- [ ]  For the first entry on a new day the entry will not appear until you refresh. Subsequent entries show up just fine. (Need to unshift a new date to the dates.)
- [ ] If you edit an entry then go back and use the normal entry submit form it will look like it removed your edit till

[2017-04-28 16:49] overshard commented on #2
Fixed a few things for this in b61a6f4

[2017-04-28 18:56] overshard commented on #27
I've setup the read the docs account and as soon as @rubiconjosh finishes some minor changes to his PR we can merge that and have some documentation going! http://timestrap.readthedocs.io/en/latest/

[2017-04-28 20:14] #6 closed

[2017-04-29 00:09] overshard commented on #27
Documentation has been started, still need improvement but @rubiconjosh got this moving, I've made the default URL for this project the new docs page at https://timestrap.readthedocs.io/

[2017-04-29 00:09] #27 closed

[2017-04-29 19:27] overshard commented on #41
This has been fixed! Using optgroups and select2

[2017-04-29 19:27] #41 closed

[2017-04-29 19:28] overshard opened #43 "Project select field on reports page is broken"

[2017-04-29 19:29] overshard opened #44 "Reports page needs to mimic sub total and total at bottom of page from entries"

[2017-04-30 02:58] overshard commented on #4
This has been completed

[2017-04-30 02:58] #4 closed

[2017-04-30 02:58] overshard commented on #3
This is done

[2017-04-30 02:58] #3 closed

[2017-04-30 02:59] overshard opened #45 "Update totals on entries page when adding, restarting, or editing an entry"

[2017-04-30 02:59] overshard commented on #1
This is going to be a constant job, cdubz has done a good job at making what we have more modular and we'll keep doing that as we go.

[2017-04-30 02:59] #1 closed

[2017-04-30 20:24] cdubz commented on #45
Any opinion about doing this in the front end? I *think* the only other option would be to somehow make the totals an independent tag so they could be updated without refreshing the entire list of entities. Seems like some simple jQuery would be an easy compromise here - it would just need to parse the strings and do the math.

[2017-04-30 20:26] overshard commented on #45
It should be done on the frontend, once a edit, add, or delete is successful we should, in the success then() from the promise, update totals. + the diff of the edited, + the new added entirely, or - the deleted.

[2017-04-30 20:28] overshard commented on #45
Also, this doesn't need to use jQuery, we can just, `this.totalTime = addTotal(totalTime, newTime)`, and same for subtotal. This is where `addTotal` combines two `HH:MM` strings. It could be named `combineTotal` and support a negative in front of the `newTime` and support subtraction too. Whatever works.

[2017-05-01 01:21] cdubz commented on #45
I took a brief stab at this but didn't get far enough to PR anything. RiotJS seems to be a bit of issue here - by attempting to update the totals info in `entries`, *all* of the child tags will update (which I actually didn't realize). Even when doing, e.g.:
[code]
This is issue when, for example, a single `entry` tag is deleted. The first instance will work fine, but following instances will erro

[2017-05-01 01:26] overshard commented on #45
It seems we need to not unmount the object but use the method detailed in the guide under "Event handlers with looped items": http://riotjs.com/guide/

This will remove it from the collection

[2017-05-01 03:49] overshard commented on #45
I've improved the remove on entries to update the parent entry list properly now.

[2017-05-01 09:04] cdubz commented on #45
Nice! Determining the index in the patent array was where I got stuck. I didn't realize `indexOf` can take an object.

I won't be able to work on this tonight or tomorrow so feel free to continue with it. I'll pick it back up or find something new on Weds.

[2017-05-04 01:30] overshard commented on #45
cdubz has got this working in the latest update

[2017-05-04 01:30] #45 closed

[2017-05-04 03:20] mikedilger opened #48 "Add integration ID to all models for use in external service relationships"
I am investigating plugging into my client's task management system (workflowmax.com) and all I really need is a place to store their IDs in timestrap for client, project, and entry, so that I can match up data when I synchronise.  Reference fields would do that nicely.

Low priority.  I probably wont even do the integration because their API looks worse than yours (!)

[2017-05-04 03:24] overshard commented on #48
It looks like they have their own time tracking system built in, what are we wanting to integrate here? Just have cross posting of entries between the two so someone can use either of them for tracking time?

[2017-05-04 05:18] mikedilger commented on #48
I want to enter into timestrap, and have a script that I write pull new projects from workflowmax (my client assigns them to me) and push new entries into workflowmax (i record my hours).  That way my client is happy and I don't have to enter the data twice (once in my system, once on theirs).

I would do all the work here.  Only thing needed is a generic "external reference id" field so I can mat

[2017-05-04 05:20] overshard commented on #48
That makes sense, I think an integration ID of some sort could be important for many different services so I'll put this as an enhancement and definitely add it in!

[2017-05-04 19:08] msander opened #49 "Enter date when adding an entry"
Thanks for opensourcing this great software.

For using it in production, I'm missing one important feature: Selecting the date of the entry.
Often I forgot to enter the time when I go home in the evening and want to add it on the next day.... Or I'm working on a specific task multiple days and want to track them afterwards.

[2017-05-04 19:14] overshard commented on #49
We had this originally and removed it with the redesign. It's supported by going into the admin panel after entering in times and adjusting them via the admin but that doesn't seem very friendly for this use case. I agree it should be on the entries page itself as it is a functionality I use too. We'll see how we can work this in!

[2017-05-05 01:01] cdubz commented on #12
I am working on this a bit. We will use Django's permissions system with REST Framework's integration for now. We just need to sort out where/how to handle 403 responses gracefully.

[2017-05-05 11:44] cdubz commented on #12
I have this working at the API level. However, I'm not sure how to get Django user and/or permissions data in to riotjs tags (to prevent display of certain DOM nodes, etc.). This could perhaps be handled at the Views level? I toyed with this a bit but had trouble. @overshard, any thoughts?

[2017-05-05 14:52] overshard opened #50 "Create Makefile for common actions like manage commands, updating, documentation building"

[2017-05-05 15:30] overshard opened #51 "Implement hotkeys to navigate site, input time, edit entries"
Sensible defaults like VIM with option to edit on a per-user basis. ex. j/k to move up and down entries, i to edit the current selected entry?

[2017-05-05 17:24] overshard commented on #12
We probably need to just include the user type in the templates for now. In the future we want to build the user type into the API too for standalone apps, is_staff is already a function but we need to also have is_readonly and if is_staff and is_readonly are both false then it is just your normal user.

[2017-05-06 08:23] overshard commented on #24
This has been setup with the use of yarn, all files are now localized

[2017-05-06 08:23] #24 closed

[2017-05-06 08:26] overshard opened #53 "Navigation bar broken"
Text doesn't show up till hovered over with new localized css and js

[2017-05-06 20:26] #12 closed

[2017-05-06 22:14] overshard opened #54 "Error when deploying to heroku"
django.urls.exceptions.NoReverseMatch: Reverse for 'user-detail' with arguments '('',)' not found. 2 pattern(s) tried: [u'api/users/(?P<pk>[^/.]+)\\.(?P<format>[a-z0-9]+)/?$', u'api/users/(?P<pk>[^/.]+)/$']

     !     Push rejected, failed to compile Python app.

[2017-05-06 23:34] cdubz commented on #53
Once I got up and running from HEAD (5991ae6), the navbar is working correctly with - text is there and hover effects are normal.

[2017-05-07 03:50] overshard commented on #53
Did you enable compression in the development config? You need to uncomment two lines in there, it's only an issue when compression is enabled.

[2017-05-07 08:45] #54 closed

[2017-05-07 17:04] cdubz opened #56 "Add Selenium testing"
A couple of items to keep in mind with Selenium –

**The tests take a long time to run.**

~~This is because I am trying also to test for permission-based UI elements. It seems that the best way to do with Selenium in a JS app is to *wait*. My initial testing sets the global wait time at five seconds so that means for every time we want to check that something *doesn't* exist, it takes five second

[2017-05-07 20:28] overshard commented on #43
Fixed in f1e78b8

[2017-05-07 20:28] #43 closed

[2017-05-07 20:49] #49 closed

[2017-05-07 21:56] overshard commented on #50
Holding off on this as it requires crypto packages to be compiled and I don't want to add too many dependencies

[2017-05-07 21:56] overshard commented on #40
Moving 2.0 features up to 1.0 to improve invoicing layout

[2017-05-07 21:56] #40 closed

[2017-05-07 22:00] overshard commented on #53
To recreate this right now, since I have a work around, you need to add the following to the development settings:

    COMPRESS_ENABLED = True
    COMPRESS_OFFLINE = False

And then go into the base.html template and move the bootstrap.min.css link tag into the compress block

[2017-05-07 22:38] ad-m commented on #50
Why fabfile? Why not standard Linux ```Makefile```?

[2017-05-07 22:39] overshard commented on #50
@ad-m Makefile might work! Since we do have a build-essential/compile dependency so you make a good point, not sure how well that carries over to other operating systems though? I don't have much documentation for windows right now anyways...

[2017-05-07 22:57] ad-m commented on #50
@overshard , it's should work nice on Mac OS X I think too. I do not care about Windows for ideological reasons.

[2017-05-07 23:52] overshard commented on #31
This is being done by cdubz in issue #56

[2017-05-07 23:52] #31 closed

[2017-05-08 00:08] ad-m commented on #32
Tasks to do (and verify):

Need to update
- [ ] models fields to specify ``verbose_name`` for each field using ``ugettext_lazy``,
- [ ] ``Meta`` of models to specify ``verbose_name`` and ``verbose_name_plural`` to each model class using ``ugettext``,
- [ ] ``__str__`` in models to use ``ugettext``,
- [ ] need migrations updated,
- [ ]  ``AppConfig`` in ``apps.py`` for each application to specify

[2017-05-08 00:41] overshard commented on #53
The problem is django-compressor breaks with lined SVGs in CSS url tags which bootstrap v4 makes extensive use of. The latest develop branch fixes this.

[2017-05-08 02:00] overshard commented on #32
For javascript strings we will probably just use django's translation system and put the strings at the bottom of the template as variables

[2017-05-08 02:07] #53 closed

[2017-05-08 02:08] overshard commented on #23
Closing this as there has been no response to it and it seems to be working for everyone else.

[2017-05-08 02:08] #23 closed

[2017-05-08 02:09] overshard commented on #2
I'm pretty happy with the timesheet/entries page design at this point so we are moving on to other things and can revisit this in the future if needed after 1.0

[2017-05-08 02:09] #2 closed

[2017-05-08 02:10] overshard opened #58 "Improve mobile design on all pages"
Been taking a desktop approach to the design with some, but little, approach to making it work on mobile. Need to make sure the mobile design is really clean before 1.0 release. This mostly just means fiddling with the columns being shown/hidden on mobile and messing with some breakpoint oddities with bootstrap.

[2017-05-08 02:10] overshard commented on #44
Fixed in an earlier update today

[2017-05-08 02:10] #44 closed

[2017-05-08 16:44] overshard opened #59 "Reports custom ordering"
Sometimes I'd like to order by client/project instead of by date. ex. If I am viewing the past weeks tasks and want to see which projects I spent the most time on I can easily deduce that from custom ordering and maybe graphs based on that. Primary order is the grouping used, if ordered by client the client name would replace the date as the block titles.

[2017-05-08 20:34] cdubz commented on #53
I haven't tested this locally, but FYI I do still see it on the [Heroku instance](https://timestrap.herokuapp.com/).

[2017-05-08 20:35] overshard commented on #53
It's because I set the egg=django-compressor==2.1.1 so it did not actually recompile the package using the develop branch, I should set it to django-compressor=develop, it is fixed the dependency on heroku just didn't update.

[2017-05-09 01:32] #10 closed

[2017-05-09 23:27] overshard opened #61 "Notify user that an action is being run"
When submitting a new item or editing one once the add/edit button is pressed and the fetch function is being run we need to disable the button and have an indicator that there is an action being performed so multiple submissions are not done and slower connections know that it's working.

[2017-05-14 00:53] #8 closed

[2017-05-14 00:55] overshard commented on #34
This was completed by @cdubz based on Leah's previous work

[2017-05-14 00:55] #34 closed

[2017-05-17 06:15] overshard commented on #61
This is taken care of by cdubz's latest update

[2017-05-17 06:15] #61 closed

[2017-05-17 10:05] sohamnavadiya opened #66 "Heroku deployment - Run scripts & scale dynos error"
When I tried to deploy the first version on Heroku. It was working fine. Now latest version is installing properly.

Below is the error that I am getting in Run scripts & scale dynos section during deployment on heroku.

[code]

[2017-05-17 10:27] overshard commented on #66
I seem to be getting the exact same error on our current Heroku instance, thank you for reporting this! I'll take a look at it later tonight.

[2017-05-17 10:34] overshard commented on #66
This seems to be an issue with the order migrations are run on PostgreSQL, I'm not 100% sure how to fix this at the moment and will have to do some investigation

[2017-05-17 11:10] overshard commented on #66
This may not be easily fixable with postgres so we may have to change up the models a bit here. We might also want to consider adding tests against postgres and not just sqlite after this.

[2017-05-17 23:46] overshard commented on #66
This should be fixed with the latest refactor, it seems to be a bad idea to split up models into apps when there is a lot of cross dependency via ForeignKeys

[2017-05-17 23:46] #66 closed

[2017-05-18 10:11] sohamnavadiya commented on #66
@overshard Thanks for investigating on this and share what is a bad idea.

[2017-05-18 17:23] cdubz opened #68 "Reports filters limited by page size"
The drop-down filters on the Reports page (Users, Clients & Projects) are limited by the `REST_FRAMEWORK.PAGE_SIZE` setting in `timestrap/settings/base.py` - if there are more than 50 of any of those models, only the first 50 will show up in the list.

[2017-05-18 17:27] cdubz commented on #56
For some reason the Projects filter does not load any Projects and the Clients filter does load Clients, but is unable to select them, when Selenium is running tests using the fixtures in `core/fixtures/test_reports_data.json`. The issue is reproducible as well by loading the fixtures directly (instead of from Selenium). Examining this was how I stumbled across #68, but I am not sure the two are r

[2017-05-19 07:04] msander opened #69 "Buttons don't work in Chrome"
You are using event.explicitOriginalTarget at multiple places. This is mozilla-only and does not work in other browsers. What are the advantages over event.target ?

[2017-05-19 07:10] overshard commented on #69
I'm not sure, I think @cdubz implemented these when he setup buttons to toggle busy state.

@cdubz Is there are reason for the explicitOriginalTarget or can we swap these over to just target?

Thank you for bringing this up though @msander, we haven't started cross-browser testing much yet since we are still in early development but if you notice any other issues in Chrome let me know and I'll mar

[2017-05-19 09:24] cdubz commented on #69
Oops! I didn't realize that is Mozilla specific. I remember having some issue with`event.target` being the parent of the actual button or something. Anyway I will re-examine and implement a cross-browser solution.

[2017-05-19 13:50] cdubz commented on #69
The issue was that buttons inside `<form>` elements pass the entire form for `event.target`. We have a mix of buttons both inside and outside of `<form>` elements, so the function has been modified to handle both cases, eliminating the reliance on `event.explicitOriginalTarget`. Thanks, @msander!

[2017-05-19 13:52] #69 closed

[2017-05-19 13:53] msander commented on #69
@cdubz I guess, that this only applies to different events. onClick should always be the button itself, onSubmit should be the form.

[2017-05-19 13:56] cdubz commented on #69
Ah, makes sense! I assume RiotJS triggers a submit if the button is inside a `<form>`, but only triggers click if it is not (which also makes sense). We could standardize how we implement buttons throughout, but for now the "busy" function handles both cases well enough.

[2017-05-20 12:56] overshard commented on #68
I'm working on this, it just involves turning off pagination by default as we only really need it for entries. I need to refactor the tags though to expect results without the pagination though.

[2017-05-20 16:03] cdubz commented on #56
Closing this out as I think the Selenium tests are in a good place until we make changes to allow other web drivers (e.g. for testing in with multiple browser engines).

[2017-05-20 16:03] #56 closed

[2017-05-21 05:53] overshard opened #73 "Refactor dashboard into SPA"
And add useful info to it, most of the info on the dashboard was just me playing with chart.js

[2017-05-21 05:54] overshard opened #74 "Add invite registration system"
To easily add new users to project without having to pre-define anything other than an email address, maybe ability to mass import emails via django-import-export?

[2017-05-21 05:55] overshard opened #75 "Refactor login page into SPA"
Would nice for when porting app over to Electron and other stand alone apps.

[2017-05-21 05:57] overshard opened #76 "Make most settings available via admin panel"
API keys for invoicing payment services, enable/disable parts of the app like invoicing and dashboard, brand customization, logo, name, etc.

[2017-05-21 06:49] overshard opened #77 "Integrate navigation into SPA"
We need to integrate search and timing into this

[2017-05-21 07:59] overshard commented on #32
We can add the translation strings to the bottom of the timestrapConfig that I've setup in the base template and call the string var instead of the name directly to translate in JS situations

[2017-05-21 08:00] overshard commented on #7
Tasks have been added in the latest few updates d8397b427dc9bd23f5dce540a426019ffba71afc which allow us to assign an hourly rate specific to tasks instead of globally to improve invoicing.

[2017-05-21 08:10] overshard opened #78 "Have travis auto-build releases with built in static files so nodejs isn't required"
I've included the compiled static_src in the project as a way to avoid the Node.js dependency on all systems. Node is only really necessary if you are working with static files in some way. It is normally a bad practice to include these files in a projects repo though. Should we remove them or leave them as is? Leaving this as an open Issue as it has been brought up multiple times.

[2017-05-21 08:12] overshard opened #79 "Clean up readme to clarify install process"
For just the python setup and for python+node

[2017-05-21 08:12] overshard opened #80 "Update documentation based on readme cleanup in #79"
Documentation on read the docs hasn't been touch since it's creation, really needs an update

[2017-05-21 09:12] overshard opened #81 "Move routes into actual tags they pretain to"
Right now all routes reside in app.html template and they should actually be in their individual tags

[2017-05-21 09:13] overshard opened #82 "Remove compiler extension from riot.js"
Need to complete #81 which is the last instance of riot.compile in vanilla JS then this can be completed

[2017-05-21 09:14] overshard opened #83 "Swap to Phantomjs for testing"
This fixes many timeout issues and inconsistencies in the gecko webdriver, it also improves the travis CI workflow.

Can be completed after #82 since phantomjs doesn't like the compiler and errors with it.

[2017-05-21 12:40] overshard opened #84 "Fix broken pagination loop"
Clicking on next currently spam fetches an object in a loop

[2017-05-21 12:53] cdubz commented on #81
Are we thinking we want to use [tag-based routing](http://riotjs.com/api/route/#tag-based-routing)? I made a passing effort to look at this earlier but the documentation and examples were really lacking.

[2017-05-21 12:55] overshard commented on #81
Nah, we probably don't want to bother with tag based routing, just move the routes into the JS section of the tag they relate to. In the most recent update I at least moved the tags out of the template and into a routes.js file though. We can't fully have a good routes setup though till all pages are apart of the SPA probably.

[2017-05-21 13:01] overshard commented on #83
Talked to some other devs about this, turns out phantomjs is a giant headache and we aren't ever going to bother with this. It simply doesn't render many JS heavy pages properly and there is no way around it. Going to stick with Firefox geckodriver and maybe pure headless chrome in the near future.

[2017-05-21 13:01] #83 closed

[2017-05-21 13:01] overshard commented on #82
This is done

[2017-05-21 13:01] #82 closed

[2017-05-21 14:58] overshard opened #85 "Add search to navbar and go to reports page on search"
I've implemented search filters already in bdeff29

[2017-05-21 16:15] #84 closed

[2017-05-22 20:58] glujan opened #87 "Python 3: TypeError: Unicode-objects must be encoded before hashing"
I've recently started using your project but there is a bug preventing from running correctly on Python 3.

[This code] is invalid in Python 3. You need to run `obj.email.lower().encode()`. [Travis] told you that :slightly_smiling_face:

Do you need any help setting up CI to be more reliable?

[This code]: https://github.com/overshard/timestrap/commit/eb069b285f8752b68e719495f9495bd23c13f286#diff-

[2017-05-22 21:19] cdubz commented on #87
At least half of our tests are broken at the moment after a major refactor a few days ago, hah. Likely this just got overlooked in the spaghetti of errors. I'll take care of it as I address those.

@overshard handles CI so he'll let ya know if he's looking for any help.

[2017-05-22 21:25] glujan commented on #50
I'm not sure what kind of commands you want to have but [Tox](https://tox.readthedocs.io) can handle building distributions, docs, running tests (on different Python versions) and other tasks. It works on Windows, macOS and Linux and integrates nicely with CI, too.

It won't substitute commands from `manage.py`, though.

[2017-05-22 21:27] glujan commented on #78
Ideally Travis should build your distribution and create _GitHub releases_ as described in [Travis docs](https://docs.travis-ci.com/user/deployment/releases/).

[2017-05-23 07:19] overshard commented on #50
Right now we've settled on using Gulp for most command we want to handle. We may implement Tox still just to handle multi environment testing with NVM node 4+6 and multiple versions of python locally.

[2017-05-23 07:25] #87 closed

[2017-05-23 07:25] overshard commented on #87
Thank you for finding this, as cdubz said all of our tests broke with a huge refactor a day or two ago. Our CI is nicely setup and I kept implementing features while tests were broken.

Now that cdubz has fixed the selenium tests we can catch these! Stability will greatly improve once we have a release.

I'm all up for any tips you may have that relate to Travis CI though, it's the first time I've

[2017-05-23 07:26] overshard commented on #81
Probably just going to leave these in a routes file as not all tags are called and they won't be initiated because of that.

[2017-05-23 07:26] #81 closed

[2017-05-23 07:30] overshard commented on #78
@glujan that probably exactly what we need to do, thanks for bringing this to my attention. We'll definitely get this setup.

[2017-05-23 07:45] overshard opened #89 "New travis build stages"
https://blog.travis-ci.com/2017-05-11-introducing-build-stages

We could use this to run through our linting, our standard back-end django tests, and our selenium tasks in parallel which would be pretty cool.

May be a bit silly for our use case though?

[2017-05-25 11:21] overshard commented on #78
Removed static files from repo and are building them on the Heroku deploy, going to include them in releases in the future, leaving this open as a reminder to set that up on travis once we start releases

[2017-05-25 11:22] overshard commented on #89
Turns out this is silly for our use case and we aren't doing it

[2017-05-25 11:22] #89 closed

[2017-05-26 21:10] overshard opened #93 "Rewrite to Vue.js"
I don't take large rewrites lightly but Riot.js's documentation has really been holding back development. I'm swapping over to Vue.js because of the larger community and significantly better documentation.

New branch for this rewrite is at https://github.com/overshard/timestrap/tree/vue

[2017-06-10 19:15] overshard commented on #93
This is complete as of today, mostly thanks to the work of @cdubz, he's making me look bad.

[2017-06-10 19:15] #93 closed

[2017-06-10 19:16] overshard commented on #85
This is complete as of the new Vue branch integration

[2017-06-10 19:16] #85 closed

[2017-06-10 19:16] overshard commented on #80
This is complete, @cdubz set this up so that we update docs and that compiles to the readme and RTD to avoid future issues

[2017-06-10 19:16] #80 closed

[2017-06-10 19:18] cdubz commented on #68
This was addressed during the Vue rewrite.

[2017-06-10 19:18] #68 closed

[2017-06-10 19:19] overshard commented on #79
Still needs to get better but this is mostly done, closed #92

[2017-06-10 19:19] #79 closed

[2017-06-10 19:19] overshard commented on #77
Completed with VueJS branch integration

[2017-06-10 19:19] #77 closed

[2017-06-10 19:21] overshard commented on #73
Deleted old dashboard temporarily to move over to full SPA sooner, still need to rebuild this for 1.0

[2017-06-10 19:23] overshard commented on #50
This is complete as of now, we use Gulp for everything

[2017-06-10 19:23] #50 closed

[2017-06-10 19:59] overshard opened #104 "Build a mixin for utils.js"
To overall cleanup code and be more VueJSy

[2017-06-10 20:00] overshard commented on #104
This includes an update to the togglebuttonbusy function, it seems a bit spammy to have that throughout the code everywhere and I believe there is a better VueJS way of handling it

[2017-06-10 20:01] overshard opened #105 "Automate documentation screenshots"
Using the gulp.js docs build system and chrome's new headless screenshot ability

[2017-06-10 20:11] overshard opened #106 "Add django fixture to have a better set of test/example content"
This needs to be done after our database is a bit more finalized so we don't have to redo it again immediately

[2017-06-10 20:12] overshard opened #107 "Add sendgrid addon to Heroku defaults"
Also priorities email setup for Django in documentation since a huge part of adding users is going to be the invite system

[2017-06-10 20:14] overshard opened #108 "Return subtotal and total updates upon POST, PUT, and DELETE of an entry"
Should include the query used to pull the current entries URL and return new totals to clean up component code

[2017-06-14 23:43] overshard opened #109 "Create FSM for timer"
So we avoid overwriting a ongoing timer and other things to improve notifications to the user.

[2017-06-16 00:17] overshard opened #110 "Provide start and finish time for an entry in "advanced" view"
Requested feature so if someone forgets to start a timer again they can figure out when they started by when the last entry ended

[2017-06-17 00:07] #104 closed

[2017-06-18 06:53] overshard opened #114 "Change hours estimate to budget dollar amount"
Since we implemented tasks and tasks can have different hourly rates it doesn't make sense to budget project by number of hours and they should be budgeted by dollar amount.

[2017-07-17 14:04] cdubz commented on #76
#118 gets the ball rolling by adding a "conf" app and enabling [Django's "sites" framework](https://docs.djangoproject.com/en/1.11/ref/contrib/sites/). The approach is similar to that of [Mezzanie](https://github.com/stephenmcd/mezzanine).

Some notes on the implementation:

- Django's core sites functionality is overridden to rely on the current domain instead of the static `SITE_ID` setting.
- B

[2017-07-19 06:25] JaimeObregon opened #119 "Demo is down?"
[timestrap.herokuapp.com](https://timestrap.herokuapp.com/) seems broken (`Server Error (500)`).

[2017-07-19 06:27] overshard commented on #119
It is indeed down! Not sure why I didn't get a notice, I'll check it out tomorrow, thanks for letting me know.

[2017-07-20 14:38] overshard commented on #119
This should be fixed now, @cdubz was in the process of adding new "sites" functionality and we were having some issues with initial data.

[2017-07-20 14:38] #119 closed

[2017-07-22 23:12] overshard commented on #114
Complete in 2459284e370daaa9c9c702d96b9d62cf48ad88c9

[2017-07-22 23:12] #114 closed

[2017-07-22 23:13] overshard commented on #109
Maybe in the future for this but we're not going to do this anytime soon.

[2017-07-22 23:13] #109 closed

[2017-07-22 23:14] overshard commented on #108
This isn't easily possible, we can do a total in the updates but the subtotal is heavily dependent on many different factors so we're just going to have to update it on the frontend without this

[2017-07-22 23:14] #108 closed

[2017-07-22 23:18] overshard commented on #59
I think this was completed by @cdubz already, going to mark this as complete

[2017-07-22 23:18] #59 closed

[2017-07-22 23:18] #51 closed

[2017-07-22 23:32] overshard commented on #107
Added in adb8f70

[2017-07-22 23:32] #107 closed

[2017-07-22 23:33] overshard commented on #39
I'm pretty happy with this design in it's current state, going to call this complete for now but it will always be improving

[2017-07-22 23:33] #39 closed

[2017-07-23 17:53] #76 closed

[2017-07-23 18:35] overshard opened #126 "Remove addon from app.json"
Requires payment verification, just inform people that email operations will not work till an email addon is setup. Will need to update Heroku settings too.

[2017-07-23 18:36] cdubz opened #127 "Update the password reset template to use the current site"
Currently, the reset email will provide a link with the domain of the default site because it uses `Settings.SITE_ID`. This template needs to be updated to use our custom `current_site_id` method.

[2017-07-24 01:14] overshard opened #129 "Demo site won't allow login"
Placeholder so we don't get new issues for this for now, issue caused by new `createsite` setup

[2017-07-24 15:43] cdubz commented on #129
Fixed by #130.

[2017-07-31 19:41] overshard commented on #126
This has been removed and we've set the defaults for development and heroku to go to console if no email server exists

[2017-07-31 19:41] #126 closed

[2017-08-14 14:18] #127 closed

[2017-10-01 15:18] overshard commented on #7
Setting this for a 2.0 release rather than 1.0 as I rather just have a stable core time tracking functionality to start.

[2017-10-06 02:48] bruj0 opened #133 "Demo credentials not working"
The demo at https://timestrap.herokuapp.com/login/ gives an error when using admin/admin as credentials.

[2017-10-06 12:46] cdubz commented on #133
@overshard will need to take a look at this. It appears that the `migrate` command was not run with the last deployment. I did just test with the Heroku deploy button and it works fine, so possible some sort of cache issue with that auto-deploy voodoo.

[2017-10-06 13:58] overshard commented on #133
This should be fixed now, thank you for reporting it @bruj0 !

[2017-10-06 13:58] #133 closed

[2017-12-05 23:51] StianOvrevage opened #134 "Docker build"
I'm trying to get timestrap to run in Docker but right now it hangs during migration:

[code]
Dockerfile:

[code]

entrypoint.sh:

[code]

Running entrypoint.sh from within the container interactively successfully starts the server:

[code]

On another note, it would also be helpfull to be able to configure the database to use somehow. I'm not familiar with Django and how to extend the code to sup

[2017-12-06 00:05] overshard commented on #134
Hey, thanks for posting this, I do plan on supporting Docker as one of the primary forms of deployment.

To me this looks like it's actually completing the migration just fine and then starting the server, the current issue is that you're not building the static files, the docs do say that this isn't required but that's not 100% true yet, it was at one point and that was removed since we are makin

[2017-12-06 00:08] cdubz commented on #134
@overshard - Check out the Baby Buddy [Dockerfile](https://github.com/cdubz/babybuddy/blob/master/Dockerfile) if you need some information re: building assets in Docker. I'm not convinced this is the best way to do it, but it gets the job done (with help from docker-compose) in my case.

[2017-12-06 21:06] StianOvrevage commented on #134
Ok, so I have it working now!

There is a few workarounds/extra steps that can be removed if fixed upstream:
1. The version of node-sass which is pinned is no longer available and breaks npm install.
2. The entrypoint scripts moves the sqlite database into a database/ subfolder and symlinks it back to the root-project-folder. This so you can volume-mount the database-folder to a folder on the Dock

[2017-12-15 10:04] sangeetaggomes opened #135 "Permission for Exporting Reports"
I think there should be user wise permission to export reports. Today anyone can export report. Even if the user has minimal permissions when the person exports report he can see the data of all the users in the exported report.

[2018-01-27 13:54] overshard commented on #135
Exports now only work as a staff user and return a 403 for anyone else.

[2018-01-27 13:54] #135 closed

[2018-02-03 17:35] adrum commented on #134
Any progress on this? I can wrap this up in a pull request if needed.

[2018-02-03 18:55] overshard commented on #134
Thanks for reminding me! I'm booting up a server and checking on this now.

[2018-02-04 00:34] overshard commented on #134
This is almost done, I seem to be running into an issue where the static files aren't being copied from the build step in a multi-stage docker build, specifically: https://github.com/overshard/timestrap/blob/master/Dockerfile#L21

If I can figure out what I'm missing here the rest should be easy!

[2018-02-04 00:52] StianOvrevage commented on #134
Try this:

`COPY --from=build . /app/`

[2018-02-04 01:06] overshard commented on #134
I'm just trying to get the static files from the build container though, I don't want to copy everything from it

[2018-02-04 02:10] cdubz commented on #134
Like so? - https://github.com/cdubz/babybuddy/blob/01868fe2491859981d1dbd47640e30ffdee06153/Dockerfile#L29

[2018-02-04 02:36] overshard commented on #134
@cdubz Yeah I think what I have is exactly what you have but mine doesn't seem to be working at the moment. I'll have to debug it tomorrow.

[2018-02-04 18:28] overshard commented on #134
This should work now, there's some cleanup to do on the docker settings but it works! Thanks to @cdubz and @StianOvrevage for the help on this, I've stolen ideas from both.

[2018-02-04 18:28] #134 closed

[2018-02-04 20:25] overshard commented on #110
Basics of this has been added and work if you are using the built in timer.

[2018-02-04 20:25] #110 closed

[2018-02-04 20:33] overshard commented on #78
Probably not going to do this as there are a lot of issues with Travis at the moment, going to just support using docker for people who don't want to install a bunch of local packages.

[2018-02-04 20:33] #78 closed

[2018-02-19 05:18] SimonAstani commented on #15
x:~# apt-get install python-dev command did the trick. Guess I was missing some development packages.

[2018-02-23 18:31] ageis opened #136 "More information about possible use cases"
Hey @overshard. Nice app you've got here. "time tracking" is a little vague to me. I'm trying to imagine example use cases. Do you think it would be useful to tell about what this is for or add something to a Wiki page beyond the README.md? It's a little unclear; is it for contractors who want to track how much time they spent on specific tasks so they can invoice properly?

[2018-02-23 19:34] overshard commented on #136
You're right there is no real "who is this for" section. I'll definitely add one. My general though on it is that it's for people like me who do work for a variety of companies to keep track of my time spent on each of them and what project that time was spent on. This could be an individual freelancer or something like a marketing company that may have many clients.

I'm going to leave this open

[2018-03-02 18:40] overshard opened #137 "New projects and tasks do not refresh the time entry bar"
When adding a new project or task the time entry bar dropdowns for projects and tasks do not update automatically, require page refresh.

[2018-03-02 18:46] overshard opened #138 "Add SECURE_SSL_REDIRECT as a site admin configuration option"
So this can be easily setup via the admin, SECURE_SSL_REDIRECT: https://docs.djangoproject.com/en/2.0/ref/settings/#secure-ssl-redirect

[2018-03-05 20:02] overshard opened #139 "Fix ordering of entries"
Ordering of entry display isn't always "latest at the top", seemingly random? Maybe reverse ID?

[2018-03-05 20:04] overshard opened #140 "Clients page shows "No Estimate" even where there is an estimate..."
...if there is no time entered for the project yet.

[2018-03-05 20:06] overshard opened #141 "Email for docker-compose/docker setup"
Currently outputs all email to console, obviously not optimal

[2018-03-05 20:08] overshard opened #142 "Hitting enter does not submit new timesheet entry"

[2018-03-05 21:14] overshard opened #143 "Hover over entry increases size of entry box slightly"
Adjusted to reflex styling to fix

[2018-03-05 21:16] overshard opened #144 "Sort and search for clients and tasks pages"

[2018-03-06 15:19] overshard opened #145 "Graph "refreshes" multiple times after new entry"
Not a "problem" but looks really annoying

[2018-03-06 15:34] overshard opened #146 "Editing a task on the timesheet does not update it till page refresh"
Specifically, updated project and did not see change till page refresh

[2018-03-10 16:30] cdubz opened #147 "Toggl"
[Toggl](https://www.toggl.com/) may be worth taking a look at (if you haven't already). I found my wife using it and was just poking around. Timestrap seems (to me at least) to look and feel a lot better.

[2018-03-11 22:47] overshard commented on #147
I do like how clean it is, I'll create an account and poke around a bit!

[2018-04-17 08:58] enric1994 opened #148 "Improve UX around adding time retroactivelly"
It would be great to have an option to add a retroactive task that you did in the past but you didn't log.

Example:
It's 5pm and you spent the last 2 hours in task X. But you don't click the "Start" button!
I would like to add the time of that task X manually.

Thanks!

[2018-04-17 19:26] overshard commented on #148
This is actually already possible, maybe it's not obvious and we should make it more so. If you just put fill in the fields and add a time it will change the "Start" button to an "Add" button and you can just add the time directly. I'll see what I can do about improving the design.

[2018-04-17 20:29] gfdsa commented on #148
A date selector the would be a really nice to have too!

[2018-04-17 20:30] overshard commented on #148
I agree with this one, I had it at one point and removed it due to design updates, I will work on re-adding the date selector.

[2018-04-18 07:26] enric1994 commented on #148
Thanks guys! I can add time retroactively now. The UX design is not an easy task!

[2018-04-18 18:47] overshard commented on #148
I'm going to leave this open as a reminder to fix the UX of this and add a date picker, if anyone has any suggestions or wants to do a PR to improve this please go ahead!

[2018-04-25 12:52] saczuac commented on #15
The real solution is installing python3-dev package. After sudo apt-get install python3-dev i was able to get it. Cheers

[2018-05-04 04:51] alecdwm opened #149 "Running behind reverse proxy with TLS leads to 'Mixed Content' errors"
Hi there!
Thanks for building such a useful tool!

However, I was hoping to get some help in fixing an issue specific to my environment.
I'm running timestrap behind an nginx proxy so that nginx can handle the TLS.

Most of the app still works, but specific tasks like updating entries from the timesheet page are broken.
It would seem this is because the API returns http-specific urls in some respo

[2018-05-04 17:39] overshard commented on #149
I'll add something to the README about this but it's not really an issue with timestrap but how django-rest-framework handles TLS behind a reverse proxy. Essentially you need to configure this setting:

https://docs.djangoproject.com/en/2.0/ref/settings/#secure-proxy-ssl-header

[2018-05-08 10:55] enric1994 opened #150 "Persist data when using docker"
I would like to persist my data when I do docker-compose down -v
**Which module should I mount in my host?**
Here's my actual docker-compose.yml
[code]

Ty

[2018-05-08 18:42] overshard commented on #150
The database portion is handled by the official postgres docker container: https://hub.docker.com/_/postgres/

I'm not 100% sure how to persist the data honestly. It looks like what you can do is set a volume and then use the PGDATA variable to put the database files into that volume. Their documentation may cover this. Once we figure this out I'd like to include information on this in the readme

[2018-05-12 03:41] the-sides commented on #15
Can also confirm `python-dev` is the solution

[2018-05-29 01:37] overshard opened #151 "Rework to move away from SPA"
Due to various issues with the SPAs I have chosen I have been unable to progress past certain bugs and am tired of waiting for various fixes or fixing things myself. I'm migrating this to a non-SPA project, a standard Django project essentially, and will be able to build in more features quicker because of it.

I am also running into various API performance issues with a lot of users and I don't k

[2018-06-24 10:16] overshard commented on #151
I have been informed that I am a dumbass and that there is no need to do this and I need to fix a few things in the build process so I'm going to do that! Putting this on hold to see if the changes work.

[2018-06-24 10:16] #151 closed

[2018-06-24 12:43] overshard commented on #147
After messing with Toggl for a bit it seems somewhat confusing, in how it functions. I think they are going for too many features to satisfy too many people. I wish to stay away from that happening and keep timestrap as simple as possible.

Something I took away from exploring this is that icons are confusing. I had to try and figure out what their icons mean most of the time and I probably need t

[2018-06-24 12:43] #147 closed

[2018-06-24 12:51] #139 closed

[2018-06-24 12:52] overshard commented on #143
This either isn't a problem anymore due to another update or is only a problem on some systems. I can't recreate it either way.

[2018-06-24 12:52] #143 closed

[2018-06-24 12:57] overshard commented on #48
I'm probably not going to implement this as it adds a lot of extra complexity for no real gain.

[2018-06-24 12:57] #48 closed

[2018-06-24 13:40] #149 closed

[2018-06-24 13:40] #138 closed

[2018-06-24 13:51] #142 closed

[2018-06-24 15:40] overshard commented on #137
Fixed

[2018-06-24 15:40] #137 closed

[2018-06-24 15:42] overshard commented on #146
Editing anything doesn't change it till page refresh

[2018-06-24 17:48] #146 closed

[2018-06-24 17:55] #140 closed

[2018-06-24 18:22] overshard opened #152 "Swap to using axios for all api requests, replaces quickfetch"
Implement better error handling for failed fetches while at it:

https://www.npmjs.com/package/axios

[2018-06-24 19:57] overshard opened #153 "Use vuex to manage app state"
Started this already on the state branch, this should fix a lot of the bugs we've been running into

[2018-06-25 12:30] overshard commented on #153
Need to add allProjects to clients store, will pretty much be a dupe of all the clients actions, need a getSelectProjectsWithClients for the optgroup select field.

[2018-06-25 12:32] overshard commented on #150
It looks like BabyBuddy by @cdubz has a nice PR that fixed this same issue, I'll be taking a look at that soon to implement it: https://github.com/cdubz/babybuddy/issues/46

[2018-06-28 22:21] overshard opened #154 "Datepicker component is not properly destroying itself"
So every time the component is mounted it stays there forever...

[2018-06-29 00:50] overshard commented on #153
This is complete

[2018-06-29 00:50] #153 closed

[2018-06-29 00:51] overshard commented on #152
This is complete

[2018-06-29 00:51] #152 closed

[2018-06-29 00:51] overshard commented on #145
Fixed in moving this to a separate component

[2018-06-29 00:51] #145 closed

[2018-06-29 15:03] overshard opened #155 "Swap plugins for permissions and user into vuex store"

[2018-06-29 15:04] overshard opened #156 "Use moment to handle everything the duration formatter currently does"
Moment can handle duration just fine so the durationformatter seems like a waste since we have moment already

[2018-06-29 15:52] overshard opened #157 "Linting error: Props should at least define their types"

[2018-06-30 14:31] overshard commented on #157
Ignoring this one for now, removed from linting

[2018-06-30 14:31] #157 closed

[2018-06-30 14:33] overshard opened #158 "Create vuex store and tests for reports"
Pretty much ignored reports page through the current rewrite so far...

[2018-06-30 18:31] #156 closed

[2018-06-30 18:34] overshard commented on #106
Going to keep using and improving faker here as it overall provides a cooler setup, will want improve what I pull from faker though.

[2018-06-30 18:34] #106 closed

[2018-06-30 18:35] overshard commented on #105
Firefox's headless can also take screenshots now too, would prefer using Firefox

[2018-06-30 18:38] overshard commented on #155
User was not needed, can just pull user settings from the app template timestrapConfig, just need to do this for permissions now

[2018-06-30 18:38] overshard commented on #154
It looks like almost all the components that use jQuery aren't destroying themselves properly, noticed some extra stuff from select2 as well

[2018-06-30 20:03] #148 closed

[2018-07-02 00:38] #154 closed

[2018-07-02 04:46] overshard opened #159 "Flesh out channels implementation"
Basic WebSockets functionality added in b74aa8e, so far it isn't much better than polling till I add channel.layers in and add a post_save signal for database updates

[2018-07-03 13:52] overshard opened #160 "Fix entry-{} index error happening occasionally in tests"
Due to the randomness in fake probably

[2018-07-03 23:12] #160 closed

[2018-07-04 15:20] unformatt opened #161 "How do you give a new user access to clients/projects?"
![image](https://user-images.githubusercontent.com/157132/42285040-4c50fc94-7f7c-11e8-8759-22d3feff5440.png)

[2018-07-04 15:31] overshard commented on #161
Added in c65f559

[2018-07-04 15:31] #161 closed

[2018-07-04 15:33] unformatt commented on #161
I think this would give the user access to all projects. Is there a way to specify which projects a user can access?

[2018-07-04 15:37] overshard commented on #161
No, there are no project or client specific permissions at this time and I don't plan on implementing those. If you wish to separate out a timestrap instance into projects/clients for users you can use the Multiple Sites configuration https://github.com/overshard/timestrap#sites

[2018-07-04 20:51] #150 closed

[2018-07-04 20:53] overshard commented on #150
Data should now persist using the official docker-compose, note to @enric1994 -- you were using a third party image from @StianOvrevage . You'll have to ask him about persistent data with his image.

[2018-07-04 22:56] overshard commented on #141
I've improved documentation around how to add configuration for this and added a better way to disable email functionality if it isn't needed. Going to call this done for now unless someone comes up with something better in the future.

[2018-07-04 22:56] #141 closed

[2018-07-04 22:58] overshard opened #162 "Improve documentation with new mkdocs setup"
Did not like the build system for the old docs, going to be creating a docs branch and do #105

[2018-07-11 16:57] unformatt opened #163 "Why is instance's URL passed to server/API rather than ID?"
Is this DRF convention? I've always passed ID from client to server when referring to an instance of a model with DRF.

From tests.py, `url`is used instead of e.g. `projects[0]['id']`
[code]

If I want to pre-process any data in the ViewSet, then I'm dealing with e.g. `"http://127.0.0.1:8000/api/projects/1/"` which has to be resolved rather than int `1` which can directly used with model filter.

[2018-08-15 17:12] zsiddiqi opened #164 "Websocket issues with admin backend and Time Entry frontend"
Using the latest master branch, built docker containers. Encounter the following exception every time I try to clock a new time entry:

`timestrap-web | Traceback (most recent call last):
timestrap-web |   File "/usr/local/lib/python3.7/site-packages/twisted/internet/asyncioreactor.py", line 267, in run
timestrap-web |     self._asyncioEventloop.run_forever()
timestrap-web |   File "/usr/local/lib

[2018-08-16 15:37] overshard commented on #164
Thanks for finding this! I'll check into it when I get some time this weekend.

[2018-08-16 15:43] overshard commented on #163
This is a default of DRF. You should be using the serializer if you wish to change the way something in the API is being created, deleted, updated, etc and this is all abstracted:

[2018-08-16 15:43] #163 closed

[2018-10-20 02:06] overshard commented on #159
This is complete in the latest update about to drop.

[2018-10-20 02:06] #159 closed

[2018-10-20 02:53] overshard commented on #164
Fixed in the latest update! Sorry for the delay.

[2018-10-20 02:53] #164 closed

[2018-10-23 02:13] overshard opened #165 "Fix readme timestrap license link, not .md"

[2018-10-25 14:39] Cyber4Food commented on #165
Please merge my PR. It fixes the issue.

[2018-10-25 20:55] overshard commented on #165
Thank you

[2018-10-25 20:55] #165 closed

[2019-01-15 21:15] overshard commented on #162
https://www.mkdocs.org/ with https://squidfunk.github.io/mkdocs-material/ looks like a really nice solution for this

[2019-01-17 00:16] overshard commented on #162
Added mkdocs and have this working, just need to improve the documentation now!

[2019-01-20 00:33] overshard opened #167 "Deleting a card with a filter causes the incorrect card to be deleted"
Due to deletion being based on index and not url/id of object

[2019-01-20 00:33] overshard opened #168 "No way to "allowclear" of new selector component"
Need for use on reports

[2019-01-20 00:34] overshard opened #169 "All forms need form validation"
Currently just getting errors on things like the tracker when a time is submitted with no task + project

[2019-01-20 00:36] overshard commented on #158
Store created, need tests, swap to selector instead of select2 and add back in pagination

[2019-01-20 00:37] overshard opened #170 "Rework all tests to pass with new card components"
Tests currently failing with entire front-end rework

[2019-01-20 00:38] overshard commented on #58
Mobile is now a first class citizen with recent card update. Marking this as closed but will continue improving.

[2019-01-20 00:38] #58 closed

[2019-01-20 00:47] overshard opened #171 "Create component for row form-group field used in modals"
To reduce redundancy in creating form-group rows

[2019-01-20 20:13] overshard commented on #167
Fixed in 0af00fe38fe8b22491cc9e149b93a0928c277758

[2019-01-20 20:13] #167 closed

[2019-01-24 06:08] overshard opened #172 "Loading spinner and hide table till content on reports page"
Some reports can take a while to compile if pulling a lot of data, improve performance and add loading spinner.

[2019-01-24 06:09] overshard opened #173 "Navigating away from reports and back to causes old filters to remain enabled but can't change on popover"

[2019-01-24 06:11] overshard opened #174 "Add search filter for reports"

[2019-01-25 18:49] overshard commented on #168
Fixed in latest commit

[2019-01-25 18:49] #168 closed

[2019-01-26 19:40] overshard commented on #155
Done

[2019-01-26 19:40] #155 closed

[2019-01-26 19:40] overshard commented on #172
Done

[2019-01-26 19:40] #172 closed

[2019-01-26 19:41] overshard commented on #144
Done

[2019-01-26 19:41] #144 closed

[2019-01-26 20:00] overshard commented on #136
Added https://docs.gettimestrap.com/uses/ to the docs

[2019-01-26 20:00] #136 closed

[2019-01-27 05:20] overshard opened #175 "Add user settings model and views"
For changing out a variety of elements:

- Background image used in header rows
- Dark theme?
- Individual locale?
- Change account details
- Change password

[2019-01-30 09:31] petrk94 opened #176 "add Costs per time"
Hello,

I would like to recommend a feature. Im currently using an Android App for this, but it doesnt has a web version, I would like to use timestrap, but Im missing one feature: getting the total costs for the time I worked.

As example: I have a project where I get 25$ per hour. So if I work 3 hours, I wish to see 75$  in the project report/task and combined. This were pretty great, due I coul

[2019-01-30 17:10] overshard commented on #176
This is already possible via reports. You can filter by "project" and see the total time spent on that project at the bottom.

[2019-01-30 18:44] petrk94 commented on #176
You dont understand what I mean, I dont talk about the total time consumption.
Im talking about automated calculating price for the total hour. I dont see this function.

If I set for a project 25$/h, than I would like to see in report page 75$ = 3h etc.

[2019-01-30 18:55] overshard commented on #176
Are you talking about providing estimates built into Timestrap? So this wouldn't be time that has been done it is time to be done in the future?

[2019-01-30 22:20] petrk94 commented on #176
Im sorry, I dont understand you.

I mean, in the report it shows the total time, but I want even see the amount of money I have earned while working on it.

[2019-01-31 20:11] overshard opened #177 "Move front-end tests to Cypress?"
https://www.cypress.io/

Having to rewrite all the front-end tests for minor changes is becoming quite a chore...

[2019-02-18 09:44] Chukwunonso commented on #15
In addition, if you have a python version not currently in the PPA (currently Python 3.7), say installed from the deadsnakes PPA, then you need to run this instead `sudo apt-get install python3.7-dev`

[2019-02-18 13:36] overshard commented on #15
@Chukwunonso thanks for the note! I should probably just leave this open so I can make more detailed instructions in all situations.

[2019-03-19 14:45] overshard opened #178 "Move CI/CD from travis to azure?"
https://azure.microsoft.com/en-us/blog/announcing-azure-pipelines-with-unlimited-ci-cd-minutes-for-open-source/

[2019-06-20 18:08] Romanmir commented on #176
I'd like to submit an idea for this as well. Perhaps the "Cost per unit" could be configured as part of the "Client" object. That way each Client could be individually configured. Perhaps there could also be a feature that allows for a Global rate. Then, in the report it could show the total cost per job/day/report.

[2019-06-20 18:10] overshard commented on #176
@Romanmir I can agree with this, right now it's overly simplified and in some use cases you have different rates for different clients. Reporting also needs to be much stronger so you can generate many more types of reports.

[2019-06-20 18:12] Romanmir opened #179 "Request: add address for Client for distance calculations."
I'd like to submit a request to be able to add an address, or perhaps multiple addresses per Client. This could be further extended to track mileage costs/distances.

[2019-06-20 18:14] overshard commented on #179
This should probably be more generalized into "Expense Tracking" since that is just an expense in most cases yes? Or do you need specific milage tracking?

[2019-06-20 18:34] Romanmir commented on #179
My specific use case is reporting the mileage for tax purposes. But I don't (currently) charge customers for mileage, but I suppose that could change in the future (or be different for other users). My though was: In settings define a starting address, then for each client, you could define multiple locations, Then when entering the task, you'd need to select the client, and if multiple locations

[2019-06-20 18:35] overshard commented on #179
I understand, that makes sense.

[2019-07-05 02:23] overshard commented on #177
Cypress has no integration with Django and it would be awkward to break up our testing framework right now

[2019-07-05 02:23] #177 closed

[2019-07-05 02:23] overshard commented on #170
Adjusted tests for logins and fix various issues with new geckodriver

[2019-07-05 02:24] overshard commented on #75
Probably just going to leave as is, no plans to move to independent app at this time.

[2019-07-05 02:24] #75 closed

[2019-07-05 02:24] overshard commented on #73
Dashboard is going to stay the "entries" screen, reports will be the old dashboard

[2019-07-05 02:24] #73 closed

[2019-07-05 02:25] overshard commented on #15
This will never be an issue anymore with the front-end being moved to webpack, closing out.

[2019-07-05 02:25] #15 closed

[2019-07-05 02:27] overshard commented on #178
Open to other testing platforms too, travis seems to be extremely buggy and would like to get something a bit more stable.

[2019-07-05 02:27] overshard commented on #162
Closing this out, documentation improvements will be ongoing and can be added as separate issues when needed

[2019-07-05 02:27] #162 closed

[2019-08-08 15:02] xakash commented on #15
python-dev installation does't fix it.

[2019-08-08 15:03] overshard commented on #15
Since we don't use rjsmin.c anymore this shouldn't be required. You may however need to install python3-dev and not just python-dev

[2019-08-08 15:12] xakash commented on #15
yea i have install both python3-dev and python-dev

[2019-11-06 22:46] underdoeg commented on #169
This PR adds a feature that disables the add button in the tracker if no project or task is selected. https://github.com/overshard/timestrap/pull/184

This is an easy to implement approach that doesn't need a ton of error handling

[2019-11-14 00:45] finzzz opened #187 "How do you backup docker instance?"
If I want to move docker instance from one machine to another, how to do that? Or when I want to backup the data periodically..

[2019-11-14 21:30] overshard commented on #187
Hey this is a good question and should be documented. I believe there are a few ways, the easiest might be to use docker export and docker import:

https://docs.docker.com/engine/reference/commandline/export/
https://docs.docker.com/engine/reference/commandline/import/

All of our data is stored in the "db" container in the "/db-data" folder and "db" volume. Exporting the db container will also ex

[2019-11-17 18:19] overshard commented on #169
That's a solid approach here, need to add the same to the edit form.

[2019-12-11 18:52] overshard opened #188 "Use splinter for front-end testing?"
https://splinter.readthedocs.io/en/latest/why.html

[2021-09-27 17:34] 0xAmal opened #225 "demo instance not working"
demo instance not working please slove it.

[2022-06-26 04:57] #7 closed

[2022-06-26 04:57] #32 closed

[2022-06-26 04:57] #74 closed

[2022-06-26 04:57] #105 closed

[2022-06-26 04:57] #158 closed

[2022-06-26 04:57] #169 closed

[2022-06-26 04:57] #170 closed

[2022-06-26 04:57] #171 closed

[2022-06-26 04:57] #173 closed

[2022-06-26 04:57] #174 closed

[2022-06-26 04:57] #175 closed

[2022-06-26 04:57] #176 closed

[2022-06-26 04:57] #178 closed

[2022-06-26 04:57] #179 closed

[2022-06-26 04:57] #187 closed

[2022-06-26 04:57] #188 closed

[2022-06-26 04:58] #225 closed